@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* @font-face {
   font-family: 'Aspire Font';
   src: local('../public/font/aspire-font/AspireDemibold-YaaO.ttf') url('../public/font/aspire-font/AspireDemibold-YaaO.ttf') format('truetype');
  } */

/* body {
  src: url('/public/aspire-font/AspireDemibold-YaaO.ttf') format('ttf');
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,Aspire Font;
  color: white;
  color-scheme: dark;
  background: rgb(65, 62, 62);
  text-align:center ;
  margin-top:2%;  
}


:root{
  --color-1 : #0c09c7;
  --color-2 : #8df308; 
  --color-3 : #659de6; 
  --color-4 : #343436; 
  --color-5 : #b15500ef; 
  --color-7 : #e4e70c; 
 }

a {
  color: inherit;
  text-decoration: none;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

html,body
{
	height:100%;
	padding:0px;
	
}

#main_title
{
 text-align: center;
 font-family:  'Impact' ;
 font-size: 4rem ;
 margin:auto;
 margin-bottom: 2%;
 color : var(--color-2); 
 text-decoration: underline double var(--color-1);
 text-shadow: 2px 2px 15px var(--color-1) ;
}

h1, .popup
{
 text-align: center;
 font-family:  'Impact' ;
 font-size: 4rem ;
 margin: 0;
 color : var(--color-2); 
 /* _text-decoration: underline double var(--color-1);
 _text-shadow: 2px 2px 15px var(--color-1) ; */
}

#up_about
{
  text-align: center;
  margin-left: 39.5%;
}

h2
{
  color : var(--color-2); 
}

.white
{
  color: rgba(245, 226, 226, 0.623);
  display:block;
  margin: auto;
  width: fit-content;
  margin-top: 1%;
  margin-bottom: 1%;
}

#select
{
  margin: auto;
  width: 33%;
}

#select_menu
{
  margin-bottom: 5%;
}

.form-control::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: white;
}

.button_color
{
  color: var(--color-3);
  background-color: black;
  font-size: 110%;
  font-weight:bold;
  border-radius: 5%;
  display:block;
  margin: auto;
  width: fit-content;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1rem;
}

.list_quotes
{ 
  border-color: var(--color-3); 
  border-radius: 3%;
  border-width:thin;
  width: fit-content;
  margin:auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#metamask_btn
{
  margin-inline-end: auto;
}

#author_input
{
  width: 25%;
  text-align: center;
  /* _padding-left: 4%;
  _padding-right: 4%; */
  color: white;
}

#menu_get_author
{
  display: block;
}

#quotesform
{
  margin:auto;
  display: inline;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background: dark;
  } */
  body {
    color: white;
    background: rgb(65, 62, 62);
    text-align:center ;
    margin-top:2%;   
  }

  button {
    font-size: 110%;
    font-weight:bold;
    margin-top:1%;
    background:black;
    color: var(--color-3);
    margin:1%;
    /* _display: block; */
    /* _text-align: center; */

  }

  #menu
  {
    text-align: center;
    display:block;
  }

  button:hover,#submit_write:hover, .submit_read:hover
  {
    /* background:#34c24c; */

    background-color: var(--color-1); 
    color: var(--color-2);
  }

  .default_button
  {
    font-size: 110%;
    font-weight:bold;
    margin-top:1%;
    background:black;
    color: var(--color-3);
    margin:1%;
  }

  .default_button:hover
  {
    background-color: var(--color-1);
    color: var(--color-2);
  }

 

  #site-navigation
  {
    color: yellowgreen;
  }

  #navigation_menu
  {
    display: flex;
    justify-content: center;
    gap:1%;
    margin-bottom: 3%;
  }

  .navipunkt
{
	/* _background: var(--color-1); */
	border:2px solid var(--color-1) ;
	border-radius: 10px;
	padding:10px;
	font-size: 200%;
  color: var(--color-2);
  text-decoration-line:none;
}

.navipunkt:hover
{
	background:#2F000B;
}

/** ENDE NAVIPUNKT **/

#dabinich
{
	/* _background:#062F53; */
  background:black;
}

#dabinich:hover
{
	background:#2F000B;
}

  /* a{
    margin: 2%;
    color: yellowgreen;
    
  }; */


  h2{
     margin: 1%; 
    font-size: 180%;
  }

  .text_about{
    white-space:pre; /* or pre-wrap if you want wrapping to still work. */
}


  p,ol,ul{
    /* _font-style: italic; */
    color:var(--color-2)
  }

  .info{
    font-style: italic;
  }
  .quote_title
  {
    /* _font-size:100%; */
    color:var(--color-7);
  }

  .section_title
  {
    /* _font-size:100%; */
    color:var(--color-5);
  }

  .quote
  {
    /* _font-family:'Aspire Font'; */
    text-decoration:none;
  }

  ul{
    /* _list-style: none; */
  }

  .list_instructions
  {
    list-style:none;
    margin-bottom: 4%;
  }

  .list_instructions_about
  {
    list-style:none;
    margin-bottom: 1%;
  }

  .about_title
  {
    color: var(--color-7);
    margin-bottom: 1%;
  }

  .instructions_title
  {
    color: var(--color-2);
    margin-bottom: 2%;
  }

  #up
  {
    width: 100%; 
    display: flex;
    justify-content: flex-end;
  }

 h1
  {
    /* _display:inline; */
    width: fit-content;
    margin-left: 0%;
  }

  li
  {
    padding-top: 0.5%;
  }

  #connect
  {
    margin-left: 34%;
    margin-right: 1%;
    /* _display:inline-block; */
  }


  #wrapper, .link{
    margin: 2%;
    color : var(--color-2); 
    height: fit-content;
  }

  #wrapper
  {
     margin-top:2%;
     font-size: 150%;
  }

  #write{

    /* _display: inline-grid; */
    justify-content: center;
    /* _vertical-align: middle;
    _line-height: normal; */

  }

  #submit_write, .submit_read {
    font-size: 110%;
    font-weight:bold;
    width: fit-content;
    background:black;
    color: var(--color-3);
  }

  #submit_write
  {
    display: inline;
    width: fit-content;
    height: fit-content;
  }

  #quote_input
  {
    /* width: fit-content;
    height: fit-content;
    vertical-align: middle;
    margin:auto;
    margin-bottom: 0%;
    display: inline;
    color:white; */
    
  }




  #menu_nav_home
  {
    margin: 14%;
  }

  #menu_nav_other
  {
    margin-bottom: 4%;
    margin-top: 2%;
  }

  a:hover
  {
    /* color: yellowgreen; */
    color: var(--color-5);
  }

  a
  {
    /* color: yellowgreen; */
    color: rgb(101, 157, 230);
  }

  #footer
  {
    margin-top: 2%;
  }
  #link_key
  {
    font-size: small;
    /* margin: */
  }

  #but_set
  {
    font-size: small;
  }

  label
  {
    margin: 20%;
  }
  input {
    margin-top: 1%;
    margin-bottom: 2%;
    width: 25%; 
    text-align: center
   };

   form {
    margin-top: 10%;
    width: fit-content;
   }

   
   .result_img{
    display: flex;
    justify-content: center;
    align-items:baseline;

   }

   .link_button{

    border-radius: 4%;
    border: #f37908 solid;
    background-color: var(--color-1);

   }

   .foot
   {
    color: greenyellow;
   }

   footer a
   {
  
      margin: 0%;
   }

   #connect_button_mobile
   {
     display: none;
   }

   #disconnect_button_mobile
   {
    display: none;
   }

   #user_wallet_mobile
   {
    display: none;
   }


/***************************************************************/
/************************ MEDIA QUERY **************************/
/***************************************************************/

@media screen and (max-width:800px) {

  #quote_input{
    /* display: block;
    margin:auto; */
    /* margin-bottom:1%;
    text-align: center;*/
    width:fit-content; 
    _height: 100%;
  }

  #write_quote_menu{
    display: block;
    height: fit-content;
  }

  #connect_button_desktop
  {
    display: none;
  }

  #user_wallet_desktop
  {
    display: none;
  }
  #disconnect_button_desktop
  {
    display: none;
  }

  #user_wallet_mobile
  {
    display: block;
    margin: auto;
  }

  #connect_button_mobile
  {
    display: block;
    margin: auto;
    margin-bottom: 4%;
  }

  #disconnect_button_mobile
  {
    display: block;
    margin: auto;
    margin-bottom: 4%;
  }





  #author_input
  {
    width: fit-content;
  }
}

   /* #NFT_data{
    resize: both;
    overflow: auto;
   } */

/* } */
